*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;   
}
body{
    font-size: 1.6rem;
    background: #FFFAF5;
}
/* common */

.btn-icon{
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    --height:5.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 13rem;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid #3e4581;
    color: #000958;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 600;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.btn-primary{
    color: #fff;
    background-color: #FF5B2E; 
    border-color: #FF5B2E;
}
a{
    text-decoration: none;
}
.section__heading{
    color: #000958;
font-family: 'Sora';
font-size: 5.2rem;
font-weight: 700;
line-height: 6.2rem; 
}
.section__desc{
    color: #656689;
font-family: 'Poppins';
font-size: 1.6rem;
font-weight: 400;
line-height: 3rem;
margin-top: 2.4rem;
}
.section__desc-small{
    color: #656689;
font-family: 'Poppins';
font-size: 1.4rem;
font-weight: 400;
line-height: 2.4rem;
}
/*  */

input,template,select,button{
    font-size: inherit;
    font-family: inherit;
}
h1{
    font-family:'Poppins';
}
.container{
    width: 117rem;
    max-width:calc(100% - 4.8rem);
    margin: 0 auto;
}

/* header */
.header{
    padding:2.6rem 0;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    display: flex;
    align-items: center;
}
.navbar__link{
    color:#5E6085 ;
    font-family: "Poppins";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding: 0.8rem 1.8rem;
}
.header__action-link{
    color:#5E6085 ;
    font-family: "Poppins";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding: 0.8rem 1.8rem;
}
.header__action-link-btn{
--height:5rem;
min-width: 11.7rem;
}
/* hero */
.hero{
    margin-top: 7.4rem;
}
.hero-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__media{
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-bottom: 9.4rem;
}
.hero__img-wrap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 38.8rem;
    height: 48.8rem;
    border-radius: 1.6rem;
    background: #FE997B;
    border: 2px solid #fff;
    position: relative;
}
.hero__img{
    max-width: 100%;
    max-height: 100%;
}
.hero__decor{
    position: absolute;
}
.hero__decor-left{
    left: -5.8rem;
    bottom: 0;
    z-index: -1;
}
.hero__decor-right{
    top: 1.67rem;
    right: -3.95rem;
}
.hero__img-wrap-small{
    width: 18.6rem;
    height: 24.4rem;
    margin-left: -2rem;
    margin-bottom: -5.8rem;
    background: #FAA7AD;
}
.hero__list{
    width: 25rem;
height: 15.6rem;
border-radius: 1rem;
background: #FFF;
box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
padding:1.4rem; 
position: absolute;
left: 12.9rem;
bottom:0rem;
}
.hero__item{
    display: flex;
}
.hero__item-img{
    max-width: 100%;
    max-height: 100%;
    
}
.hero__item-wrap{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background: #FEC23F;
    overflow: hidden;
}
.hero__item-content{
    margin-left: 0.86rem;
}
.hero__item-content-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5E6085;
    font-family: 'Sora';
}
.hero__item-content-skeleton-top{
    width: 11.8rem;
    height: 0.4rem;
    border-radius: 1rem;
    opacity: 0.08;
    background: #000958;
    margin-top: 0.7rem;
}
.hero__item-content-skeleton-bottom{
    width: 3.9rem;
    height: 0.4rem;
    border-radius: 1rem;
    opacity: 0.08;
    background: #000958;
    margin-top: 0.7rem;
}
.hero__item-separate{
    width: 22.2rem;
    height: 0.2rem;
    background: #adabab;
    margin: 2.2rem auto ;
}
/* hero-content */
.hero__content{
    margin-left: 12.05rem;
}
.hero__action-link-btn{
--height:6rem;
min-width: 18.9rem;
box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__content-heading{
    color: #000958;
    font-family: 'Sora';
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 7.6rem;
}
.hero__content-desc{
    color: #656689;
font-family:' Poppins';
font-size: 1.6rem;
font-weight: 400;
line-height: 3rem;
margin-top: 2.4rem;
}
.hero__content-row{
    margin-top: 3.8rem;
}
.hero__action-link{
    color: #000958;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem; 
    text-decoration-line: underline;
    margin-left: 2.4rem;
}
/* about */
.about__inner{
    margin-top:20.07rem ;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    row-gap: 14.6rem;
    align-items: center;
    padding-bottom: 17rem;
}
.about__lable{
    color: #5E6085;
font-family: 'Sora';
font-size: 1.6rem;
font-weight: 600;
line-height: 1.6rem;
}
.about__heading{
    margin-top: 1.5rem;
    width: 44.6rem;
}
.about__desc{
    width: 43.1rem;
}
.about__checklist{
    margin-top: 5.4rem;
    display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 3.6rem;
row-gap: 3.4rem;
}
.about_checkitem{
    color: #48496A;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem; 
    position: relative;
}
.about_checkitem::before,
.about_checkitem::after{
    content: "";
    display: inline-block;
    margin-right: 1rem;
}
.about_checkitem::before{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 4px;
    background-color: #FF5D31 ;
}
.about_checkitem::after{
    position: absolute;
    left: 0.3rem;
    bottom:1.rem;
    width: 1.4rem;
    height: 0.8rem;
    border: 3px solid;
    border-color:transparent transparent #FFF #FFF ;
    transform: rotate(-45deg);
}
/* about media */
.about__media{
    position: relative;
}
.about__card{
    width: 13.6rem;
    
    border-radius: 1rem;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
    padding: 3rem 2.6rem;
    position:absolute;
    top: 16.5rem;
    left: 0;
}
.about__card-title{
    color: #FFF;
font-family: 'Sora';
font-size: 4.2rem;
font-weight: 700;
line-height: 4.2rem;
}
.about__card-desc{
    color: #C6F4F9;
font-family: 'Poppins';
font-size: 1.4rem;
font-weight: 400;
line-height: 2rem;
margin-top: 1.4rem;
}
.about__card-decor{
    position:absolute;
    top: -36px;
    right: -29px
}
.about__img-wrap{
    width: 49.4rem;
    border-radius: 1.6rem;
background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
margin-left: auto;
}
.about__img-wrap-img{
    width: 100%;
}
.about__media-decor{
    position: absolute;
    right: -5.06rem;
    top: 14.9rem    ;
}
.about__img-wrap-bottom{
    border-radius: 1.8rem;
border: 2px solid #FFF;
background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
margin-left: 0;
position: relative;
width: 45.8rem;
}
.about__img-decor{
    position: absolute;
}
.about__img-decor:first-child{
    top: 1.3rem;
    right: 6.4rem;
}
.about__img-decor:nth-child(2){
    top: -1.6rem;
    right: 1.3rem;
}
.about__img-decor:nth-child(3){
    top: 3.3rem;
    right: -2.1rem;
}
.about__img-decor:nth-child(4){
    top: 26rem;
    right: -3.6rem;
}
.about__img-decor:nth-child(5){
    top: 33.6rem;
    right: 1.9rem;
}
.about__img-decor:nth-child(6){
    bottom: -5.46rem;
    right: -4.2rem;
}
/* conten about */
.about__heading-bottom{
    width: 54.3rem;
}
.about__desc-bottom{
    width: 51.1rem;
}
.about__content-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.6rem;
    margin-top: 5.2rem;
}
.about__content-item{
    display: flex;
    align-items: center;
}
.about__content-item-img{
    margin-right: 0.9rem;
}
.about__content-bottom-desc{
    width: 39.1rem;
    margin-top: 4.7rem;
}
.about__content-bottom-link{
    display: inline-block;
    color: #FF5D31;
font-family:' Poppins';
font-size: 1.6rem;
font-weight: 500;
line-height: 1.6rem; 
margin-top: 3.2rem;
position: relative;
}
.about__content-bottom-link::after{
    content: "";
    left: 0;
    bottom: -0.5rem;
    position: absolute;
    display: inline-block;
    width: 7rem;
    height: 0.15rem;
    background-color:#FF5D31 ;
    border-radius: 99px;
    opacity: 0.7;
}
/* services */
.services{
    padding:6.8rem 0 10rem 0 ;
    background-color: #FFF6ED;
}
.services__top{
    text-align: center;
}
.services__top-desc{
    color: #5E6085;
font-family: Sora;
font-size: 1.6rem;
font-weight: 600;
line-height: 1.6rem; 
margin-bottom: 1.5rem;
}
.services__body{
    display: grid;
    grid-template-columns:auto 1fr auto ;
    column-gap: 6.4rem;
    margin-top: 7.2rem;
}
.services__column{
    display: grid;
    row-gap: 2.4rem;
}
.services__card{
width: 29.4rem;
border-radius: 1rem;
border: 2px solid rgba(255, 188, 122, 0.26);
background: #FFF;
padding: 3rem 2.8rem;
}
.services__heading{
    position: relative;
    color: #000958;
font-family: Sora;
font-size: 2.2rem;
font-weight: 600;
line-height: 2.2rem;
margin-bottom: 1.8rem;
padding-left: 1rem;
}
.services__heading::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 0.2rem;
    height: 2.2rem;
    background-color: orangered;
    border-radius: 99px;
    left: 0;
    top: 0;
    bottom: 0;
}
.services__card-link{
display: inline-block;
color: #34396A;
font-family: Sora;
font-size: 1.2rem;
font-weight: 400;
line-height: 1.2rem;
margin-top: 2.4rem;
}
.services__cta-wrap{
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
}
.services__cta-btn{
    min-width: 21.4rem;
height: 5.6rem;
border: 1px solid #FF5B2E;
color: #FF5B2E;
opacity: 0.6;
}
.services_media{
    position: relative;
}
.services_media::after{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 35rem;
    display: inline-block;
    position: absolute;
    border-radius: 1rem;
background: #79D5E0;
}
.services__img{
    position: relative;
   z-index: 1;
   height: 100%;
}
/* member */
.member{
    padding: 13rem 0;
}
.member__row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3.5rem;
    margin-top: 4.5rem;
}
.member__item{
    transition: transform 0.3s ease;
}
.member__item:hover{
    transform: translateY(-2rem);
}
.member__media{
    margin: 0 1.6rem;
    border-radius: 13rem;
    overflow: hidden;
    position: relative;
}
.member__media::before{
    content: "";
    position: absolute;
    background-color: red;
    width: 100%;
    height: 95%;
    border-radius: inherit;
bottom:0;
}
.member__media-img{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    z-index: 1;
}
.member__item-desc{
    text-align: center;
    color: #656689;
font-family: Poppins;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.4rem;
margin-top: 3.4rem;
}
.member__item-heading{
    color: #000958;
text-align: center;
font-family: Sora;
font-size: 2.2rem;
font-weight: 600;
line-height: 2.2rem; 
margin-top: 1.4rem;
}
.member__link{
color: #FF5B2E;
border: 1px solid #FF5B2E;
width: 19.3rem;
height: 5.6rem;
opacity: 0.7;
}
.member__btn{
    display: flex;
    justify-content: center;
    margin-top: 4.8rem;
}
/* price */
.price{
    background-color: #FFF6ED;
    padding: 8.6rem 0;
}
.price__heading{
    text-align: center;
}
.price__desc{
    width: 70.9rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.price__switch--wrap{
    display: flex;
  justify-content: center;
  margin-top: 3.8rem;
}
.price__switch-label{
    position: relative;
    display: flex;
justify-content: space-between;
    align-items:center;
    width: 27.6rem;
height: 5.6rem;
border-radius: 99px;
border:  1px solid #FF5B2E;;
padding: 0 4rem;
}
.price__switch-value{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;

font-weight: 500;
line-height: 1.6rem;
}
.price__switch-label::before{
    position: absolute;
left: 0;
    content: "";
    width: 13.1rem;
    height: 5.6rem;
    border-radius: 99px;
    background: #FF5B2E;
    transition: transform 0.3s ease;
}
.price__switch-value{
position: relative;
z-index: 1;
}
.price__switch-input:checked + .price__switch-label::before{
    transform: translateX(144px);
}
/* .price__switch--wrap [type="checkbox"]:checked + .price__switch-label::before{
    transform: translateX(144px);
} */
.price__switch-input:not(:checked) + .price__switch-label .price__switch-value:nth-child(2){
    color: orangered;
}
.price__switch-input:checked + .price__switch-label .price__switch-value:nth-child(1){
    color: orangered;
}

.price__switch-inner{
    position: relative;
}
.price__switch-img{
    position: absolute;
    top: -24px;
    right: -120px;
}
.price__row{
    margin:5.6rem 9.9rem 0 ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 4.4rem;
}
.price__col{
    width: 30.2rem;
    background-color: #fff;
    padding: 3rem 2.8rem 4.3rem 2.8rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 5px #ccc;
}

.price__col-money{
    display: block;
}
.price__col-desc{
    color: #FF5B2E;
font-family: Poppins;
font-size: 1.2rem;
font-weight: 400;
line-height: 1.2rem;
}
.price__col-heading{
    color: #3F4065;
font-family: Sora;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.8rem;
margin-top: 0.8rem;
}
.price__col-money{
    color: #000958;
font-family: Sora;
font-size: 3.4rem;
font-weight: 700;
line-height: 3.4rem;
margin-top: 2.4rem;
}
.price__btn{
    width: 24.6rem;
    height: 4.4rem;
border: 1px solid orangered;
color: orangered;
margin-top: 2.2rem;
}
.price__btn:hover{
    background-color: orangered;
    color: #FFF;
}
.price__list{
    margin-top: 2.4rem;
}
.price__list-item{
    margin-top: 1.8rem;
}
.price__list-link{
    color: #656689;
font-family: Poppins;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.4rem;
position: relative;
padding-left: 2rem;
}
.price__list-link::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 5px;
    border: 3px solid;
    border-color:transparent transparent orangered orangered ;
    rotate: -45deg;
    position: absolute;
    left: 0;
}
/* review */
.review{
    padding-top: 10rem;
}
.review__up,
.review__back{
    width: 5.4rem;
height: 5.4rem;
border: 1px solid orangered;
border-radius: 50%;
flex-shrink: 0;
}
.review__up:hover,
.review__back:hover{
    color: #FFf;
    background-color: orangered;
}
.review_inner{
    display: flex;
    align-items: center;
}
.review__content{
    overflow: hidden;
}
.review__content-list{
    display: flex;
   
}
.review__content-item{
    display: flex;
    padding-top: 3rem;
    margin: 0 7.6rem;
    align-items: center;
    flex-shrink: 0;
}
.review__media{
    width: 27.4rem;
height: 35rem;
border-radius: 13.7rem;
background-color: #FFDA54;
flex-shrink: 0;
position: relative;
margin-right: 10rem;
}
.review__media-img{
   
    width: 100%;
    border-radius: 13.7rem;
    position: absolute;
    bottom: 0;
    margin-right: 10rem;
}

.review__item-desc{
    color: #000;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 400;
line-height: 2.8rem;
margin-top: 2.4rem;
width: 55.3rem;
}
.review__item-author{
    display: inline-block;
    color: #282828;
font-family: Sora;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.8rem;
margin-top: 3.4rem;
position: relative;
padding-left: 2.8rem;
}
.review__item-author::before{
    display: inline-block   ;
    position: absolute;
    content: "";
    width: 2rem;
height: 0.2rem;
background-color:  #000;     
margin-right: 0.8rem;   
bottom: 50%;

left: 0;
}
.review__dots{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.review__dot{
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.5rem;
    border: 1px solid orangered;
    border-radius: 50%;
}
.review__dot:hover{
    background-color: orangered;
    cursor: pointer;
}
.review__dot-active{
    width: 2rem;
    height: 0.8rem;
    border-radius: 99px;
    background-color: orangered;
}
/* blog */
.blog{
    margin-top: 13rem;
}
.blog-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__update{
    margin-right: 7rem;
}
.blog__deac{
    width: 35rem;
}
.blog__btn{
    margin-top: 2.4rem;
    min-width: 18.2rem;
height: 5.6rem;
border: 1px solid orangered;
color: orangered;
}
.blog__row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 4.8rem;
    margin-top: 5.4rem;
}
.blog__col_media{
width: 100%;
background-color: #90CCFF;
height: 36.2rem;
border-radius: 2.4rem;
position: relative;
overflow: hidden;
}
.blog__img{
    position: absolute;
    width:90%;
    margin-right: auto;
    bottom: 0;
    right: 0;
}
.blog__time{
    display: inline-block;
    margin: 2.4rem 0 0 3.4rem;
    color: #FFF;
font-family: Sora;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.7rem; 
    
}
.blog__heading{
    width: 95%;
    color: #000958;
font-family: Sora;
font-size: 2.2rem;
font-weight: 600;
line-height: 3.4rem;
margin-top: 2.8rem;
}
.blog__desc{
color: #656689;
font-family: Poppins;
font-size: 1.4rem;
font-weight: 400;
line-height: 2.4rem;
margin-top: 1.6rem;
}

/* footer */
.footer{
    margin-top: 13rem;
    background: linear-gradient(to right ,#FFF6ED 42% , transparent 42%);
   
}
.form__search-input{
    width: 26.8rem;
height: 4.6rem;
border-radius: 99px;
padding-left: 10px;
border: 1px solid orangered;
background: #FFF;
outline: none;
}
.form__btn{
    position: absolute;
    width: 4.5rem;
    height: 4.6rem;
    background-color: orangered;
    border-radius: 50%;
    border: none;
    left: 223px;
  
}
.form__icon{
    color: #fff;
}
.form__search{
    position: relative;
    margin-top: 3.48rem;
}
.footer__left{
    padding: 12.1rem 0 14.8rem;
    width: 42%;
}
.footer__heading{
    color: #000958;
font-family: Sora;
font-size: 1.8rem;
font-weight: 600;
line-height: 2rem;  
margin-top: 6.8rem;
}
.foter__icon{
    margin-top: 1.6rem;
    display: flex;
gap: 1rem;
}
.footer__icon-link{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 50%;
}
.footer__inner{
    display: flex;
}
.footer__right{
  flex-grow: 1;
}
.footer__col{
    display: grid;
grid-template-columns: 1fr 1fr;
}
